@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font: normal 100%/1.5 Sulphur Point, sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  font-size: Sulphur Point, sans-serif;
  color: #613000;
  margin-bottom: .5rem;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  font-size: Sulphur Point, sans-serif;
  color: #613000;
  margin-top: 0;
  margin-bottom: .5rem;
}

img-flex {
  display:block;
  width: 30%;
}

header {
  background-color: #cccc;
}

li {
  align-items: center;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  color: #613000;
}

ul {
  text-align: center;
  font-size: 1.5rem;
  color: #613000;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav a {
  display: block;
  color: #613000;
  text-decoration: none;
}

.About {
  color: #613000;
}
.image1 {
  width:20%;
  align-items: center;
}

.socialmedias {
  text-align: center;
}
h2 {
  color: #613000;
  display: inline-block;
  display: flex;
  margin-bottom: 0;
}

footer {
  color: #613000;
  text-align: center;
}

.mrcoco {
  width:30%;
  display: inline-block;
  margin: 0;
  display: flex;
}

.about {
  display: flex;
}

.image {
  width:100%;
}

.img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: .8rem;
  align-items: center;
}

.para {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

p {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  margin-right: 1rem;
}

.info {
  display: flex;
}

.news {
  width: 20%;
}

.twitter-card {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.socialmedia {
  width: 20%;
}

.holiday-card {
  width: 20%;
  display: flex;
  flex-direction: column;
}
nav a:hover {
  background-color: #964300;
  color: #fff;
}

.circles {
  display: flex;
  padding-bottom: 1.5rem;
  }

h1 {
  margin: 0;
}

.btn {
  background-color: #333;
  text-decoration: none;
  border: solid 2px #613000;
  border-radius: 10px;
  background-color: #613000;
  color: #fff;
  font-size: .875rem;
  padding: 0;
  display: inline-block;
  margin-bottom: .5rem;
}

p.para {
  margin: 0;
}

.first {
  margin-left:1rem;
  margin-top: 0;
  margin-bottom: 0;
}
